---
layout: default
title: About
permalink: /
---

<div class="container">
  <div class="row">
    <!-- Profile Image -->
    <div class="col-md-3">
      {% if page.profile.image %}
        <img style="width: 170px; float: left;" src="{{ page.profile.image | relative_url }}" class="img-fluid">
      {% endif %}
    </div>

    <!-- About Section -->
    <div class="col-md-9">
      <h2>{{ page.profile.fullname }}</h2>
      <h3>{{ page.position }}</h3>

      <!-- Contact and Social Links -->
      <p>
        {% if page.social %}
          {% for link in page.social %}
            <a href="{{ link[1] }}" target="_blank">{{ link[0] }}</a> {% unless forloop.last %} | {% endunless %}
          {% endfor %}
        {% endif %}
      </p>
    </div>

    <div style="text-align: justify;clear: both;" > {{ content }} </div>
  </div>

  <hr>

  <!-- News Section -->
  {% if page.news and page.news.enabled %}
      <h2>
        <a href="{{ '/news/' | relative_url }}" style="color: inherit">news</a>
      </h2>
      {% include news.liquid limit=true %}
  {% endif %}

  <!-- Selected Publications -->
  {% if page.selected_papers %}
  <div class="row">
    <div class="col-12">
      <h2>Selected Publications</h2>
      <ul>
        {% for paper in page.papers %}
          {% if paper.selected %}
            <li><a href="{{ paper.link }}" target="_blank">{{ paper.title }}</a> - {{ paper.authors }} ({{ paper.year }})</li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}
</div>
