---
layout: default
---

<div class="post">


  <article>
    <div class="row">
        <div class="col-sm-3">
            {% if page.profile.image %}
            <img style="width: 170px;border-radius: 170px" src="{{ page.profile.image | prepend: '/assets/img/' | relative_url }}">
            {% endif %}
        </div>
    
        <div class="col-sm-9">
            <h1 class="post-title">
            {% if site.title == "blank" %}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{% else %}{{ site.title }}{% endif %}
            </h1>
            <p class="position">{{ page.position }}</p>
   
        </div>
    </div>


</div>
