---
layout: default
---
<div class="post">

  <article>
    <div class="row">
        <div class="col-sm-3">
            {% if page.profile.image %}
            <img style="width: 120px; float: left; border-radius: 50%;" 
            src="{{ page.profile.image | prepend: '/assets/img/' | relative_url }}"
            alt="Profile Image">
            {% endif %}
        </div>
    
        <div class="col-sm-9">
            <h1 class="post-title font-weight-bold">
                {% if site.title == "blank" %}
                    <span class="font-weight-bold">{{ site.first_name }}</span> 
                    {{ site.middle_name }} {{ site.last_name }}
                {% else %}
                    {{ site.title }}
                {% endif %}
            </h1>

            <!-- Render position with multi-line HTML support -->
            <p class="position">{{ page.position | markdownify }}</p>

            <!-- Render social links with HTML support -->
            <p class="social">{{ page.social | markdownify }}</p>    
   
        </div>
    </div>

    <div class="clearfix">
      {{ content }}
    </div>


    {% if page.news %}
      {% include news.html %}
    {% endif %}

    {% if page.selected_papers %}
      {% include selected_papers.html %}
    {% endif %}


<hr/>


    {% if page.social %}
    <div class="social">
      <div class="contact-icons">
        {% include social.html %}
      </div>
      <div class="contact-note">{{ site.contact_note }}</div>
    </div>
    {% endif %}
  </article>

</div>
