---
layout: default
title: About
permalink: /
---

<div class="container">
  <div class="row">
    <!-- Profile Image -->
    <div class="col-md-3">
      {% if page.profile.image %}
        <img style="width: 120px;float: left;" src="{{ page.profile.image | relative_url }}" class="img-fluid rounded-circle">
      {% endif %}
    </div>

    <!-- About Section -->
    <div class="col-md-8">
      <h1>{{ page.title }}</h1>
      <h3>{{ page.position }}</h3>

      <!-- Contact and Social Links -->
      <p>
        {% if page.social %}
          {% for link in page.social %}
            <a href="{{ link[1] }}" target="_blank">{{ link[0] }}</a> {% unless forloop.last %} | {% endunless %}
          {% endfor %}
        {% endif %}
      </p>

      <p>{{ content }}</p>
    </div>
  </div>

  <hr>

  <!-- News Section -->
  {% if page.news %}
  <div class="row">
    <div class="col-12">
      <h2>News</h2>
      <ul>
        {% for item in page.news %}
          <li>{{ item.date | date: "%B %d, %Y" }} - {{ item.content }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}

  <!-- Selected Publications -->
  {% if page.selected_papers %}
  <div class="row">
    <div class="col-12">
      <h2>Selected Publications</h2>
      <ul>
        {% for paper in page.papers %}
          {% if paper.selected %}
            <li><a href="{{ paper.link }}" target="_blank">{{ paper.title }}</a> - {{ paper.authors }} ({{ paper.year }})</li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}
</div>
