---
layout: default
title: About
permalink: /
---

<div class="container">
  <div class="row">
    <!-- Profile Image -->
    <div class="col-md-3">
      {% if page.profile.image %}
        <img style="width: 170px; float: left;" src="{{ page.profile.image | relative_url }}" class="img-fluid">
      {% endif %}
    </div>

    <!-- About Section -->
    <div class="col-md-9">
      <h2>{{ page.profile.fullname }}</h2>
      <h3>{{ page.position }}</h3>

      <!-- Contact and Social Links -->
      <p>
        {% if page.social %}
          {% for link in page.social %}
            <a href="{{ link[1] }}" target="_blank">{{ link[0] }}</a> {% unless forloop.last %} | {% endunless %}
          {% endfor %}
        {% endif %}
      </p>
    </div>

    <div style="text-align: justify;clear: both;" > {{ content }} </div>
  </div>

  <hr>
  <!-- Research Group Info -->
</div>
<div style="background-color:#efefef;color:#333; border: 2px solid #02b878; padding:5px;text-align: justify;">
  I am establishing the <a href="https://vibe-lab.github.io/"> Vision Intelligence & Biomedical Exploration Lab (VIBE Lab)</a> at XJTLU, focusing on Digital and Computational Pathology, Medical Image Analysis, and Computer Vision. I am looking for highly motivated PhD students eager to advance research in these fields. Successful candidates will earn a PhD degree from the University of Liverpool, UK. If you're interested, feel free to reach out via email.
</div>

  <hr>

  <!-- News Section -->
  {% if page.announcements and page.announcements.enabled %}
      <h2>
        <a href="{{ '/news/' | relative_url }}" style="color: inherit">News</a>
      </h2>
      {% include news.liquid limit=true %}
  {% endif %}


  <!-- Selected Publications -->
  {% if page.selected_papers %}
  <div class="row">
    <div class="col-12">
      <h2>Selected Publications</h2>
      <ul>
        {% for paper in page.papers %}
          {% if paper.selected %}
            <li><a href="{{ paper.link }}" target="_blank">{{ paper.title }}</a> - {{ paper.authors }} ({{ paper.year }})</li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}
</div>
